DJANGO_SECRET_KEY=troque-esta-chave-por-uma-segura
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=estudantil.caruaru.tec.br
DJANGO_CSRF_TRUSTED_ORIGINS=https://estudantil.caruaru.tec.br
DJANGO_SECURE_SSL_REDIRECT=True
DJANGO_SESSION_COOKIE_SECURE=True
DJANGO_CSRF_COOKIE_SECURE=True
DJANGO_USE_X_FORWARDED_HOST=True
DJANGO_SECURE_HSTS_SECONDS=31536000
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=True
DJANGO_SECURE_HSTS_PRELOAD=True
